.addField {
  padding: 0;
  margin: 0;

  .flex {
    display: flex;
    width: 100%;
    align-items: center;

    .spacer {
      flex: 1;
    }

    .error {
      color: darkred;
    }

    .button {
      margin: 16px;
      border-radius: 4px;
      padding: 5px 16px;
      cursor: pointer;
      background-color: var(--primary-color);
      color: var(--primary-text-color);
      border: 1px solid var(--primary-color);
      box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);

      &:disabled {
        cursor: not-allowed;
        background-color: var(--disabled-color);
        color: var(--disabled-text-color);
        border: 1px solid var(--disabled-color);
      }
    }

    .input {
      margin: 16px;
      border: 1px solid gray;
      border-radius: 4px;
      font-size: 16px;
      box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 4px;

      &:focus {
        box-shadow: 0 0px 8px 0 var(--primary-color);
      }
    }

    .inputError {
      box-shadow: 0 0px 8px 0 #be2e35 !important;
    }
  }
}
