.listItem {
  cursor: pointer;
  margin: 16px 16px 16px 0;
  background-color: var(--secondary-color);
  border-radius: 32px;
  color: var(--secondary-text-color);
  padding: 4px;
  max-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}
