:root {
  --primary-color: #3baeff;
  --primary-text-color: #ffffff;
  --secondary-color: #2ea04c;
  --secondary-text-color: #ffffff;
  --disabled-color: lightgray;
  --disabled-text-color: #dfdfdf;
}
